* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --gray-1: #696F79;
  --gray-2: #8692A6;
  --gray-3: #BABABA;

  --cyan: #00DAF7;
  --blue: #1565D8;

  --danger-red: #f32013;
  --success-green: #4BB543;

}

.title-text {
  font-family: 'Righteous', cursive;
  font-size: 72px;
  font-weight: 400;
  line-height: 89px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--blue);
}

.text-center {
  text-align: center;
}

.text-gray-1 {
  color: var(--gray-1);
}

.text-gray-2 {
  color: var(--gray-2);
}

.text-white {
  color: #FFFFFF;
}

.italic {
  font-style: italic;
}

.logo {
  display: flex;
  gap: 10px;
  user-select: none;
  margin-bottom: 70px;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  outline: none;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
}

.my-input {
  margin-top: 25px;
  margin-bottom: 10px;
}

.my-input input {
  border: 1px solid #8692A6;
  outline: none;
  border-radius: 6px;
  padding: 20px 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 17px;
  color: #8692A6;
  width: 100%;
}

.my-input-label {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.link {
  color: #1565D8;
  cursor: pointer;
}