.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width:1000px) {
    .grid-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}